__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
env/
ENV/
.venv/

# Django
*.log
local_settings.py
db.sqlite3
*.pot
*.pyc
media/
#librerias locales.
lib/
Lib/
lib64/
site-packages/
*/site-packages/
**/site-packages/
# Static files
staticfiles/
static/

# Archivos de entorno
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Docker
.docker/
#tests
tests/__pycache__/
tests/*.pyc 
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Jupyter
.ipynb_checkpoints

# macOS
.DS_Store

# Celery
celerybeat-schedule
celerybeat.pid